# Dependencies
frontend/node_modules/
backend/node_modules/

# Expo
frontend/.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
frontend/.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Windows
Thumbs.db

# Lockfiles (nếu chỉ dùng npm)
# frontend/package-lock.json
# backend/package-lock.json

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

.omo
backend/db.json
backend/README.md
frontend/README.md